<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35256782550-pbdnme20ltp9iod9fls7c0mfj8he5v3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35256782550-pbdnme20ltp9iod9fls7c0mfj8he5v3h</string>
	<key>API_KEY</key>
	<string>AIzaSyCHm4p0Qu4B93YaSwzS11fGMg6voYptgtM</string>
	<key>GCM_SENDER_ID</key>
	<string>35256782550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tekim.Firebase-Project</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-ff878</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-ff878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35256782550:ios:090d84041ec1b3261bc377</string>
</dict>
</plist>